@using CourseTracker.Application.Students.Queries.GetStudentsList

@{

    List<StudentListItemModel> students = ViewBag.Students;

}

<h1>Students</h1>

<div class="table-responsive">
    <table id="tblStudents" class="table table-striped">
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>Name</th>
                <th>Program</th>
                <th>Average</th>
            </tr>
        </thead>
        <tbody>
            @foreach (StudentListItemModel student in students)
            {
                <tr>
                    <td>@Html.ActionLink("Details", "Details", "Students", null, new { @id = student.Id })</td>
                    <td>
                        @string.Format("{0} {1}", student.FirstName, student.LastName)
                    </td>
                    <td>
                        @student.ProgramName
                    </td>
                    <td>
                        Put Average here.
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>